@font-face {
    font-family: 'Quicksand';
    font-display: optional;
    src: url('Quicksand-VariableFont_wght.woff2') format('woff2');
}

* {
    margin: 0;
}

html,
body {
    background-color: #eeeeee;
    font-family: 'Quicksand';
    height: 100%;
}

.flex {
    
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: #25313F;
    padding: 0 30px;
    display: flex;
    height: 60px;
}

.header-title {
    color: #FFFFFF;
    font: normal normal bold 20px/18px 'Quicksand';
    margin-left: 5px;
}
.header .nav .alerts-announcements {
  max-height: 0;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  transition: max-height 0.2s ease-in-out;
  width: 315px;
  right: 0;
  top: 44px;
}
.header .nav .alerts-announcements .alert {
  display: none;
}
.header .nav .alerts-announcements .alert-show-button,
.header .nav .alerts-announcements .announcement-show-button {
  display: none;
}
.header .nav:hover .nav {
  color: #222222;
  text-align: left;
}
.header .nav:hover .alerts-announcements {
  width: 315px;
  max-height: 580px;
  z-index: 1;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  top: 44px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  display: flex;
  flex-direction: column;
}
.header .nav:hover .alerts-announcements .alert {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.header .nav:hover .alerts-announcements .alert .alert-title {
  display: flex;
  margin-bottom: 8px;
}
.header .nav:hover .alerts-announcements .alert .alert-title .alert-message {
  font-size: 14px;
  color: #222222;
  text-align: left;
}
.header .nav:hover .alerts-announcements .alert .alert-title .alert-read-status {
  margin-left: auto;
  color: #1F7A54;
}
.header .nav:hover .alerts-announcements .alert .label-class,
.header .nav:hover .alerts-announcements .alert .label-course,
.header .nav:hover .alerts-announcements .alert .label-files {
  text-align: left;
  font-size: 12px;
  color: #616161;
  margin-bottom: 8px;
  display: flex;
}
.header .nav:hover .alerts-announcements .alert .alert-class,
.header .nav:hover .alerts-announcements .alert .alert-course {
  text-align: left;
  font-size: 12px;
  color: #222222;
  margin-bottom: 8px;
}
.header .nav:hover .alerts-announcements .alert .alert-footer {
  display: flex;
  font-size: 12px;
  font-weight: normal;
  color: #616161;
}
.header .nav:hover .alerts-announcements .alert .alert-timestamp {
  margin-left: auto;
  font-size: 12px;
  font-weight: normal;
  color: #616161;
}
.header .nav:hover .alerts-announcements .alert-unread {
  background-color: #ffffee;
}
.header .nav:hover .alerts-announcements .alert-show-button,
.header .nav:hover .alerts-announcements .announcement-show-button {
  position: relative;
  bottom: 10;
  left: 0;
  text-align: center;
  background: #ffffff;
  border: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
  font-size: 14px;
  color: #1F7A54;
}
.header .nav:hover .alerts-announcements .alert-show-button {
  padding: 15px;
}
.header .nav:hover .alerts-announcements .alert-show-button:hover {
  background-color: #f3f3f3;
}
.header .nav:hover .alerts-announcements .announcement-show-button,
.header .nav:hover .alerts-announcements .alert-show-button {
  display: flex;
  justify-content: center;
}
.header .nav:hover .alerts-announcements .announcement-show-button {
  padding: 15px;
}
.header .nav:hover .alerts-announcements .announcement-buttons {
  padding: 5px;
  width: 50%;
}
.header .nav:hover .alerts-announcements .announcement-buttons:hover {
  background-color: #f3f3f3;
}
.header .nav:hover .alerts-announcements .seperator {
  border-right: rgba(0, 0, 0, 0.2392156863) 1px solid;
}
.header .menu {
  display: none;
}
.header .dashboard {
  margin-left: auto;
}

.nav {
    text-align: center;
    letter-spacing: 0px;
    color: #3FD28B;
    text-transform: uppercase;
    margin-right:  16px;
    
    padding: 8px 0 4px 0;
    border-bottom: 4px solid #25313F;
}
.large-screen{
    margin-top: 12px;
    margin-bottom:19px;
    padding-left: 2px;
    margin-left: 25px;
}

.nav:hover {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
    cursor: pointer;
    margin-bottom: 0px;
}

.profile>img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;
    border:white 2px solid;
}

.menu{
    display: none;
}

.dashboard {
    margin-left: auto;
}

.main {
    margin: 20px;
}

.course-class-toggle {
    background-color: #8DDC97;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.courses-toggle,
.classes-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #222222;
    border-bottom: 4px solid #8DDC97;
}

.courses-toggle:hover,
.classes-toggle:hover {
    border-bottom: 4px solid #222222;
    cursor: pointer;
}

.courses-nos,
.classes-nos {
    font: normal normal bolder 24px/28px 'Quicksand';
    margin: 19px 8px 15px 8px;
}

.courses-toggle-label,
.classes-toggle-label {
    font: normal normal bold 16px/20px 'Quicksand';
}

.line {
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    margin-bottom: 24px;
}

.filter-panel {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
}

.showing-label {
    align-self: flex-end;
    font: normal normal medium 12px/14px 'Quicksand';
    letter-spacing: 0px;
    color: #686868;
}

.filter-div {
    display: flex;
}

.sort-by-label {
    font: normal normal 400 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #686868;
}

.courses-select {
    border: none;
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    width: 180px;
    background-color: #eeeeee;
    font: normal normal 500 18px 'Quicksand';
    letter-spacing: 0px;
    color: #333333;
    margin-right: 24px;
}

.courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.course-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.course {
    display: flex;
}

.course-img {
    margin: 24px 16px 16px 24px;
}
.course-img1 {
    margin: 10px 16px 16px 24px;
}

.courses-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 24px 16px 0;
}

.line-1,
.line-2,
.line-3,
.line-4 {
    display: flex;
    margin: 7px 0 0 0;
}

.course-name {
    font: normal normal 500 18px/20px 'Quicksand';
    color: #222222;
    margin-right: auto;
}

.regular-course-label {
    font: normal normal medium 12px/16px 'Quicksand';
    color: #666666;
    
}

.subject {
    margin: 0 5px;
    color: rgb(0, 0, 0, 0.12);
}

.add {
    margin-left: 5px;
    color: #1F7A54;
}

.number-line-2 {
    font-weight: bolder;
    color: #222222;
    margin-right: 4px;
}

.course-class-input {
    font: normal normal bold 18px/20px 'Quicksand';
    color: #222222;
    border: none;
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    margin: 18px 0 8px 0;
}

.lm {
    margin-left: 4px;
}

.courses-icons {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 9px 20px;
    border-top: rgb(0, 0, 0, 0.12) 1px solid;
    margin: auto 24px 0 24px;
}

.courses-icons>img:hover,
.star:hover,
.sort:hover,
.contact:hover,
.about:hover {
    opacity: 0.4;
    cursor: pointer;
}

.contact-div {
    justify-content: center;
    display: flex;
    font: normal normal bold 14px/18px 'Quicksand';
    letter-spacing: 0px;
    color: #1F7A54;
    margin: auto 16px 16px 16px;
}

.subject {
    color: #0000001F;
    margin: 0 5px;
}

.footer {
    background-color: #E0E1E1;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-quantum {
    font: normal normal bold 14px/18px 'Quicksand';
    color: #1F2834;
}

.footer-text {
    font: normal normal bold 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #616161;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name {
    font-weight: bolder;
}
.num{
    height: 1rem;
    width: 0.9rem;
    font-size: 0.8rem;
    position: relative;
    top:-2rem;
    right:-0.85rem;
    color: white;
    background-color: #2A7FF3;
    border-radius: 50%;
    text-align: center;
}
.num1{
    height: 0.9rem;
    width: 0.9rem;
    font-size: 0.8rem;
    position: relative;
    top:-2.1rem;
    color: black;
    right:-0.8rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
  .main .courses-grid {
    grid-template-columns: 1fr;
  }
  .header .large-screen {
    display: none;
  }
  /* .header .bell {
    margin-left: auto;
  } */
  .header .menu .profile > img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px; /* Adjust the margin as needed */
  }

  .header .menu .bell,
  .header .menu .announcement,
  .header .menu .profile {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust the margin as needed */
    color: #FFFFFF; /* Adjust the color as needed */
    cursor: pointer;
  }
  .header .menu {
    display: block;
  }
  .header .menu .hamburger-menu {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 44px;
    right: 0;
  }
  .header .menu .hamburger-menu .menuitem {
    width: 0;
    visibility: hidden;
    transition: width 0.2s ease-in-out;
  }
  .header .menu:hover .hamburger-menu {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 44px;
    background-color: #ffffff;
    color: #1F7A54;
    border: 1px solid #ccc;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header .menu:hover .hamburger-menu .menuitem {
    padding: 16px 15px;
    width: 280px;
    text-align: left;
    visibility: visible;
  }
  .header .menu:hover .hamburger-menu .menuitem:hover {
    background-color: #f3f3f3;
  }
  .footer .footer-text {
    flex-direction: column;
  }
}
.disable{
    opacity: 0.4;
}
.star-disabled{
    
    opacity:0.1;
}
#expired{
    color: red;
    font-weight: bold;
    background-color: #FFE4E6;
    padding:0;
    
    position:sticky;
    margin-bottom:0px;
    height:12px;
    
    font-size: 0.7rem;
}
.custom-lessons{
  color: #666666;
  font-weight: 500;
}
.arrow {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: green;
}
.img-button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.anchor{
  text-decoration: none;
  color: gray;
}
